/*GERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.screenView{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3eafd;
}
/*GERAL*/

/*QUIZ*/
.quizArea{
    width: 40%;
    height: 550px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px;
    background-color: #ffffff;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*QUIZ*/

/*OPTIONS*/
.option{
    border: none;
    border-radius: 5px;
    background-color: #e7e7e7;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.15s;
}
.option:hover{
    background-color: #bcbcbc;
    cursor: pointer;
    transform: scale(1.1);
}
.optionsArea{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*OPTIONS*/

/*NEXT BUTTON*/
#next{
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #008cff;
    font-size: 25px;
    padding: 20px;
    transition: transform 0.15s, background-color 0.15s;
}
#next:hover{
    background-color: #0062b3;
    cursor: pointer;
    transform: scale(1.05);
}
/*NEXT BUTTON*/

/*TEXTS*/
#score{
    color: #008cff;
    font-size: 25px;
    margin: 5px;
}
#wrong{
    color: #ef0000;
    font-size: 25px;
    margin: 5px;
}
#question{
    color: #303030;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom:20px
}
#observation{
    font-size: 22px;
    height: 30px;
}
h2{
    font-size: 60px;
    margin-bottom: 20px;
}
/*TEXTS*/